
@{
    ViewBag.Title = "Work";
}

@section scripts
{

    <script src="~/js/dist/inline.bundle.js"></script>
    <script src="~/js/dist/polyfills.bundle.js"></script>
    <script src="~/js/dist/styles.bundle.js"></script>
    <script src="~/js/dist/vendor.bundle.js"></script>
    <script src="~/js/dist/main.bundle.js"></script>

}

<div style="padding-top: 10px">
    <app-root></app-root>
</div>

